
// Couleur general

$colorPrimaire : #9356DC;
$colorSecondaire : #FF79DA;
$colorTertiaire : #99E2D0;

// Couleur unique 

$colorGris : "#373438";
$colorBlanc : white;

// Police

$policeTitreLogo : "Shrikhand" , cursive;
$policeTexte : "Roboto", sans-serif;
$policeGras : bold;
