
/* General use */

/* POLICES */

.policeTitreLogo {
    font-family: 'Shrikhand', cursive;
}

.policeTexte {
    font-family: 'Roboto', sans-serif;
}

.policeGras {
    font-weight: bold;
}

.policeCouleurBlanc {
    color: white;
}

/* COULEUR */

.couleurPrimaire {
    color: #9356dc;
}

.couleurSecondaire {
    color: #ff79da;
}

.couleurTertiaire {
    color: #99e2d0;
}

.fondGris {
    background-color: rgb(46, 43, 43);
}

/* HEADER ( pour accueil ) */

.palcementLogo {
    display: flex;
    justify-content: center;
}

/* HEADER ( pour les 4 menus ) */

/* SECTION PRESENTATION */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* SECTION RESTAURANTS */

.vignetteRestaurant {
    border-radius: 25px;
    max-height: 25%;
}

.photosRestaurants {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}


/* FOOTER ( Idem pour toute les pages html P3 )


/* ~~ */